<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TradingSeek</title>

    <style>
        * {
            box-sizing: border-box;
        }

        body {
            font-family: Arial, Helvetica, sans-serif;
            align-content: center;
            text-align: center;
            justify-content: center;
        }

        div {
            border-width: 2px;
            border-color: grey;
            background-color: white;
            align-content: center;
            align-items: center;
            justify-content: center;
            text-align: center;
            flex-direction: column;
            padding: 5px;
        }

        a {
            text-decoration: none;

        }

        span {
            color: white;
            font-weight: bolder;
            font-size: larger;
        }
    </style>
</head>


<body>
<div>
    <a href="/auth/google/simpleUser" class="btn">google</a>
    <a href="/auth/google/businessUser" class="btn">google for business user</a>
    <a href="/auth/linkedin" class="btn">LinkedIn</a>
    <a href="/auth/facebook" class="btn">facebook</a>
</div>
</body>

</html>