<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TradingSeek</title>

    <style>
        * {
            box-sizing: border-box;
        }

        body {
            font-family: Arial, Helvetica, sans-serif;
            align-content: center;
            text-align: center;
            justify-content: center;
        }

        div {
            border-width: 2px;
            border-color: grey;
            background-color: white;
            align-content: center;
            align-items: center;
            justify-content: center;
            text-align: center;
            flex-direction: column;
            padding: 5px;
        }

        a {
            text-decoration: none;

        }

        span {
            color: white;
            font-weight: bolder;
            font-size: larger;
        }
    </style>
</head>


<body>
    <div>
        <h1>Trading Seek</h1>
        <h2>Hello {{{userEmail}}}</h2>
        <h4>Someone has requested a link to change your password, and you can do this through the link below</h4>
        <button style="width: 300px;height: 50px; background-color: #667eea;color: white;cursor: pointer;">
            <a href={{{updatePasswordLink}}} target="_blank"><span>Change My Password</span></a>
        </button>
        <h4>If you didn't request this, please ignore this email.</h4>
        <h4>Your password won't change until you access the link above and create a new one</h4>
    </div>
</body>

</html>